OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen3:8b

USE_PRIVATE_KNOWLEDGE=false

EMBEDDING_MODEL=BAAI/bge-small-zh-v1.5
HF_HOME=D:\management_diagnosis_agent\.hf_cache
EMBEDDING_LOCAL_FILES_ONLY=true
